<div class="flex justify-center w-[1500px]">
  <div class="h-full flex w-full shadow">
    <div class="w-full p-4 sm:p-6 lg:p-8 bg-white">
      <div class="w-full h-72 flex justify-center pt-14">
        <img
          id="showImage "
          class="rounded-full border"
          src="https://images.unsplash.com/photo-1477118476589-bff2c5c4cfbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=200"
          alt=""
        />
      </div>
    </div>

    <div class="w-full p-8 bg-white lg:ml-4" [formGroup]="form">
      <div class="rounded p-6">
        <div class="pb-6">
          <label for="name" class="font-semibold text-gray-700 block pb-1"
            >Nom</label
          >
          <div class="flex">
            <input

              id="name"
              class="border-1 rounded-r px-4 py-2 w-full"
              type="text"
              formControlName="name"
            />
          </div>
        </div>
        <div class="pb-4">
          <label for="firstname" class="font-semibold text-gray-700 block pb-1"
            >Prénom</label
          >
          <input

            id="firstname"
            class="border-1 rounded-r px-4 py-2 w-full"
            type="text"
            formControlName="firstname"
          />
        </div>
        <div class="pb-4">
          <label for="email" class="font-semibold text-gray-700 block pb-1"
            >Email</label
          >
          <input

            id="email"
            class="border-1 rounded-r px-4 py-2 w-full"
            type="email"
            formControlName="email"
          />
        </div>

        <div class="pb-4 flex-col">
          <label class="font-semibold text-gray-700 block pb-1"
            >Horaire de travail</label
          >
          <div class="flex gap-3">
            <input

              id="starttime"
              class="border-1 rounded-r px-4 py-2 w-full"
              type="time"
              formControlName="starttime"
            />
            <input

              id="endtime"
              class="border-1 rounded-r px-4 py-2 w-full"
              type="time"
              formControlName="endtime"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
