<nav class="flex justify-evenly px-2 py-3 bg-white shadow-md mb-3 h-28">
  <div class="px-4 flex items-center">
    <div class="lg:w-[700px] mx-auto items-center flex">
      <!-- <a class="text-sm italic inline-block mr-4 py-2 uppercase" routerLink="/">
        Salon de beauté (LOGO)
      </a> -->
      <img
        class="inline-block mr-4 py-2 w-24 mt-4"
        src="../../../../assets/static/img/logo.png"
        alt="logo"
      />
      <p class="text-lg italic">Oasis beauté</p>
    </div>
    <div class="hidden md:flex lg:flex items-center">
      <ul class="md:flex md:flex-row lg:flex lg:flex-row list-none ml-auto">
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center uppercase italic hover:opacity-75 hover:underline hover:text-red-300"
            routerLink="/accueil"
            routerLinkActive="active-link"
          >
            Accueil
          </a>
        </li>
        <li class="nav-item">
          <a
            class="px-3 py-2 flex items-center uppercase italic hover:opacity-75 hover:underline hover:text-red-300"
            routerLink="/services"
            routerLinkActive="active-link"
          >
            Services
          </a>
        </li>
        <div *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a
              class="px-3 py-2 flex items-center uppercase italic hover:opacity-75 hover:underline hover:text-red-300"
              routerLink="/login"
              routerLinkActive="active-link"
            >
              Se connecter
            </a>
          </li>
        </div>
        <div *ngIf="isLoggedIn">
          <li class="nav-item">
            <div class="flex">
              <div class="w-full pt-1.5 px-4">
                <div class="inline-flex align-middle w-full">
                  <button
                    class="italic font-semibold inline-flex uppercase text-sm px-6 outline-none gap-4"
                    type="button"
                    (click)="toggleDropdown($event)"
                    #btnDropdownRef
                  >
                    <img
                      class="w-10 -mt-1 rounded-full"
                      [src]="
                        loggedInprofilePicUrl === null
                          ? '../../../../assets/static/img/unknwon.png'
                          : baseUrl + '/' + loggedInprofilePicUrl
                      "
                      alt="Avatar"
                    />
                    <h4 class="mt-1.5">{{ loggedInName }}</h4>
                  </button>
                </div>
              </div>
            </div>
            <div style="min-width: 12rem mt-2" #popoverDropdownRef>
              <div
                class="bg-white text-base float-left py-2 list-none text-left rounded shadow-lg"
                style="min-width: 12rem"
                [class]="dropdownPopoverShow ? 'fixed' : 'hidden'"
              >
                <a
                  routerLink="/employee"
                  class="text-sm italic px-4 py-2 block w-full bg-transparent"
                >
                  Mon profil
                </a>
                <a
                  (click)="onLogOut()"
                  class="text-sm italic px-4 py-2 block w-full bg-transparent hover:cursor-pointer"
                >
                  Se déconnecter
                </a>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
