<div
  id="drop-area"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  class="w-64 h-auto border-2 border-dashed border-[#ccc] text-center p-5 m-5"
>
  <label class="cursor-pointer" for="fileInput" *ngIf="imageSrc === null"
    >Glissez et déposez une image ici <br />
    ou cliquer pour choisir une image</label
  >
  <input
    id="fileInput"
    type="file"
    accept="image/"
    class="hidden"
    (change)="onSelectedFile($event)"
  />
  <div *ngIf="imageSrc !== null">
    <img [src]="imageSrc" alt="Preview" />
  </div>
</div>
