<section class="gradient-form h-full bg-neutral-200 flex justify-center">
  <div class="container h-full p-10">
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center dark:text-neutral-400"
    >
      <div class="w-full">
        <div class="block rounded-lg bg-white shadow-lg">
          <div class="g-0 lg:flex lg:flex-wrap">
            <div class="px-4 md:px-0 lg:w-6/12 relative">
              <app-loader
                [loading]="loading"
                spinnerClassName="!border-white"
              ></app-loader>
              <div class="md:mx-6 md:p-12">
                <div class="text-center">
                  <img
                    class="mx-auto w-48"
                    src="../../../../assets/static/img/logo.png"
                    alt="logo"
                  />
                </div>

                <form [formGroup]="form" (submit)="onLogin()">
                  <div class="relative">
                    <input
                      type="email"
                      formControlName="email"
                      class="peer block min-h-[auto] w-full rounded border-0 !border-b bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear"
                      id="email"
                      [class.!border-red-500]="email?.dirty && email?.invalid"
                    />
                    <label
                      for="email"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] transition-all duration-200 ease-out -translate-y-[0.9rem] scale-[0.8] text-primary data-[te-input-state-active]:-translate-y-[0.9rem] data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary"
                      >Email
                    </label>
                  </div>
                  <span
                    *ngIf="email?.dirty && email?.invalid"
                    class="text-xs text-red-500"
                    >Ce champ est requis et doit être au format email</span
                  >
                  <div class="relative mt-4">
                    <input
                      formControlName="password"
                      type="password"
                      class="block min-h-[auto] w-full !border-b rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear"
                      id="pwd"
                      [class.!border-red-500]="
                        password?.dirty && password?.invalid
                      "
                    />
                    <label
                      for="pwd"
                      class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] transition-all duration-200 ease-out -translate-y-[0.9rem] scale-[0.8] text-primary data-[te-input-state-active]:-translate-y-[0.9rem] data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-400 dark:peer-focus:text-primary"
                      >Mot de passe
                    </label>
                  </div>
                  <span
                    *ngIf="password?.dirty && password?.invalid"
                    class="text-xs text-red-500"
                    >Ce champ est requis</span
                  >

                  <div class="mb-12 mt-4 pb-1 pt-1 text-center">
                    <button
                      class="mb-3 inline-block w-full rounded px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 bg-pink-300"
                      type="submit"
                      [disabled]="!form.valid || loading"
                      [class.hover:shadow-lg]="form.valid"
                    >
                      Se connecter
                    </button>

                    <a href="#!">Mot de passe oublié?</a>
                  </div>

                  <!--Register button-->
                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 mr-2">Pas encore de compte?</p>
                    <button
                      type="button"
                      class="inline-block rounded border-2 border-danger px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-danger transition duration-150 ease-in-out hover:border-danger-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-danger-600 focus:border-danger-600 focus:text-danger-600 focus:outline-none focus:ring-0 active:border-danger-700 active:text-danger-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                      routerLink="/sign-up"
                    >
                      S'inscrire
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div
              class="right-side flex items-start pt-16 rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
            >
              <!-- <div class="px-4 py-6 text-black md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  Connectez-vous à l'Oasis Beauté : Révélez votre Éclat Naturel
                </h4>
                <p class="text-sm">
                  Découvrez un havre de beauté et de bien-être. Connectez-vous
                  pour accéder à nos services d'exception et révéler votre éclat
                  naturel.
                </p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
