<app-paper>
  <app-section title="Section 1" className="bg-red-300 ">
    <div>
      <ul class="flex justify-evenly">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ul>
    </div>
  </app-section>
  <app-section title="Section 2" className="bg-slate-300 px-5">
    <div class="grid grid-cols-7">
      <div class="border border-black col-span-4 h-28">Image ohatra</div>
      <div>Text beee</div>
    </div>
  </app-section>
  <app-section title="Section 3 " className="bg-gray-100">
    <div class="grid grid-cols-7">
      <div class="col-span-4">Otranle ambony fa mifamadika</div>
      <div class="border border-black h-28">Image ohatra</div>
    </div>
  </app-section>
  <app-section title="Section 4" className="bg-red-300 ">
    <div>
      <ul class="flex justify-evenly">
        <li>
          <img
            src="https://www.kasandbox.org/programming-images/avatars/spunky-sam.png"
            alt="img"
          />
        </li>
        <li>
          <img
            src="https://www.kasandbox.org/programming-images/avatars/spunky-sam-green.png
            "
            alt="img"
          />
        </li>
        <li>
          <img
            src="https://www.kasandbox.org/programming-images/avatars/purple-pi.png"
            alt="img"
          />
        </li>
        <li>
          <img
            src="https://www.kasandbox.org/programming-images/avatars/purple-pi-teal.png"
            alt="img"
          />
        </li>
      </ul>
    </div>
  </app-section>

  <div class="relative">
    <app-loader
      [loading]="true"
      spinnerClassName="!border-blue-300"
    ></app-loader>
  </div>
  <app-section title="Modal">
    <button
      class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      (click)="toggleModal(true)"
    >
      Open modal
    </button>
    <app-modal
      [showModal]="showModal"
      title="Modal Preview"
      (onClose)="toggleModal($event)"
    >
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
          I always felt like I could do anything. That’s the main thing people
          are controlled by! Thoughts- their perception of themselves! They're
          slowed down by their perception of themselves. If you're taught you
          can’t do anything, you won’t do anything. I was taught I could do
          everything.
        </p>
      </div>
      <!--footer-->
      <div
        class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
      >
        <button
          class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="toggleModal(false)"
        >
          Close
        </button>
        <button
          class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="toggleModal(false)"
        >
          Save Changes
        </button>
      </div>
    </app-modal>
  </app-section>
  <app-section title="Drag N Drop"> <app-drag-n-drop /></app-section>
</app-paper>
