<app-paper className="mx-10">
  <app-section title="Nos Services" className="bg-slate-200  ">
    <div class="hidden md:flex justify-end !mr-8 gap-4 mb-4">
      <div>
        <button
          class="bg-blue-500 text-white active:bg-blue-500 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="onToogleFormCreate(true)"
        >
          Ajouter un service
        </button>
      </div>
      <div>
        <button
          [class]="
            displayMode === 'list'
              ? 'bg-blue-500  text-white font-bold py-2 px-4 rounded'
              : 'bg-gray-300 text-black font-bold py-2 px-4 rounded hover:bg-blue-500 '
          "
          (click)="setMode('list')"
          [disabled]="displayMode === 'list'"
        >
          List
        </button>
        <button
          [class]="
            displayMode === 'grid'
              ? 'bg-blue-500  text-white font-bold py-2 px-4 rounded'
              : 'bg-gray-300 text-black font-bold py-2 px-4 rounded hover:bg-blue-500 '
          "
          (click)="setMode('grid')"
          [disabled]="displayMode === 'grid'"
        >
          Grid
        </button>
      </div>
    </div>
    <div class="relative">
      <app-loader
        [loading]="loading"
        spinnerClassName="border-blue-400"
      ></app-loader>
      <div
        *ngIf="displayMode === 'list'"
        class="bg-white py-4 md:py-7 px-4 md:px-8 xl:px-10"
      >
        <div class="overflow-x-auto">
          <table class="w-full whitespace-nowrap">
            <thead>
              <tr class="focus:outline-none h-16 rounded">
                <th
                  class="px-6 bg-slate-300 text-slate-700 border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold"
                >
                  <div class="flex items-center pl-5">
                    <p class="leading-none text-gray-700 mr-2">Nom</p>
                  </div>
                </th>
                <th
                  class="px-6 bg-slate-300 text-slate-700 border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold"
                >
                  <div class="flex items-center pl-5">
                    <p class="leading-none text-gray-700 mr-2">Description</p>
                  </div>
                </th>
                <th
                  class="px-6 bg-slate-300 text-slate-700 border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold"
                >
                  <div class="flex items-center pl-5">
                    <p class="leading-none text-gray-700 mr-2">Prix</p>
                  </div>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let service of services"
                tabindex="0"
                class="focus:outline-none h-16 border border-gray-100 rounded"
              >
                <td class="px-6">
                  <div class="flex items-center pl-5">
                    <p
                      class="text-base font-medium leading-none text-gray-700 mr-2"
                    >
                      {{ service.name }}
                    </p>
                  </div>
                </td>
                <td class="px-6">
                  <div class="flex items-center pl-5">
                    <p class="text-sm leading-none text-gray-600 ml-2">
                      {{ service.description }}
                    </p>
                  </div>
                </td>
                <td class="px-6">
                  <div class="flex items-center pl-5">
                    <p class="text-sm leading-none text-gray-600 ml-2">
                      {{ getFormatedPrice(service.price) }} Ar
                    </p>
                  </div>
                </td>
                <td class="pl-4">
                  <app-dropdown label="Actions">
                    <ul class="flex flex-col p-4 gap-3">
                      <li
                        (click)="onToogleDetailsService(service._id)"
                        class="hover:cursor-pointer hover:underline"
                      >
                        Voir détails
                      </li>
                      <li
                        class="hover:cursor-pointer hover:underline"
                        (click)="onToogleFormUpdate(service._id)"
                      >
                        Modifier
                      </li>
                    </ul>
                  </app-dropdown>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div *ngIf="displayMode === 'grid'" class="grid grid-cols-4 gap-4 px-8">
        <div
          (click)="onToogleDetailsService(service._id)"
          *ngFor="let service of services; let i = index"
          class="flex-shrink-0 m-6 overflow-hidden rounded-lg max-w-xs shadow-lg hover:shadow-2xl hover:cursor-pointer ease-in-out transition-all"
          [class.bg-pink-200]="i % 2 == 0"
        >
          <div class="h-56">
            <img
              class="w-[100%] h-[100%]"
              [src]="
                service.images?.length > 0
                  ? base_url + '/' + service.images[0].url
                  : 'https://source.unsplash.com/user/c_v_r/1900x800'
              "
              alt=""
            />
          </div>
          <div class="relative text-white px-6 pb-6 mt-6">
            <!-- <span class="block opacity-75 -mb-1">Outdoor</span> -->
            <div class="flex justify-between mb-4">
              <span class="block font-semibold text-2xl">{{
                service.name
              }}</span>
              <span
                class="block bg-white rounded-full text-purple-500 text-xs font-bold px-3 py-2 leading-none flex items-center"
                >{{ getFormatedPrice(service.price) }} Ar</span
              >
            </div>

            <span class="block font-semibold text-base h-52">{{
              service.description
            }}</span>
            <div class="flex justify-end">
              <button
                class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-600 mt-4 sm:mt-0 inline-flex items-start justify-start px-6 py-3 bg-slate-400 hover:bg-indigo-600 focus:outline-none rounded"
              >
                <p class="text-sm font-medium leading-none text-white">
                  Prendre rendez-vous
                </p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-pagination
      (onPaginate)="onPaginate($event)"
      [totalElements]="total.value"
      [elementPerPage]="elementPerPage"
      [pageNumbers]="pageNumbers"
    />
  </app-section>
  <app-modal
    class="w-[400px]"
    [showModal]="showForm"
    [title]="title"
    (onClose)="onToogleFormCreate($event)"
  >
    <app-services-form (onCloseForm)="onToogleFormCreate($event)" [id]="id" />
  </app-modal>
  <app-modal
    class="w-[400px]"
    [showModal]="showDetail"
    title="Détails d'un service"
    (onClose)="onCloseDetails()"
  >
    <app-service-details [id]="seriveDetailsId" />
  </app-modal>
</app-paper>
