<app-loader
  [loading]="loading"
  spinnerClassName="!border-blue-300"
></app-loader>
<app-paper [padding]="true">
  <form [formGroup]="form" class="!w-[400px]" (ngSubmit)="submitForm()">
    <div class="mb-4 ml-12 rounded-full">
      <app-drag-n-drop className="rounded-full" (onDropEmit)="onEndDrop($event)" />
    </div>
    <div class="mb-4">
      <label class="flex text-gray-700 text-sm font-bold mb-2" for="name">
        Nom <span class="text-red-500">*</span>
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="name"
        type="text"
        placeholder="Nom"
        required
        formControlName="name"
      />
    </div>
    <div class="mb-4">
      <label class="flex text-gray-700 text-sm font-bold mb-2" for="firstname">
        Prénom <span class="text-red-500">*</span>
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="firstname"
        type="text"
        placeholder="Prénoms"
        required
        formControlName="firstname"
      />
    </div>
    <div class="mb-4">
      <label class="flex text-gray-700 text-sm font-bold mb-2" for="email">
        Email <span class="text-red-500">*</span>
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email"
        type="email"
        placeholder="Email"
        required
        formControlName="email"
      />
    </div>
    <div class="mb-4">
      <label class="flex text-gray-700 text-sm font-bold mb-2" for="password">
        Mot de passe <span class="text-red-500">*</span>
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password"
        type="password"
        placeholder="Mot de passe"
        required
        formControlName="password"
      />
    </div>
    <div class="flex justify-between">
      <div class="mb-4 w-44">
        <label
          class="flex text-gray-700 text-sm font-bold mb-2"
          for="starttime"
        >
          Début <span class="text-red-500">*</span>
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="starttime"
          type="time"
          placeholder="Début"
          required
          formControlName="starttime"
        />
      </div>
      <div class="mb-4 w-44">
        <label class="flex text-gray-700 text-sm font-bold mb-2" for="endtime">
          Fin <span class="text-red-500">*</span>
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="endtime"
          type="time"
          placeholder="Fin"
          required
          formControlName="endtime"
        />
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <button
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-md"
        type="button"
      >
        Annuler
      </button>
      <button
        class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-md"
        type="submit"
      >
        Enregistrer
      </button>
    </div>
  </form>
</app-paper>
